<div class = "food">
  <h1>食べたものを登録</h1>

  <%= form_with(model: @food_new, local: true) do |form| %>

    <div>
      <%= form.label :日付 %>
      <%= form.datetime_select :start_time %>
    </div>

    <div class = "food">
      <%= form.label :食べたもの %>
      <%= form.text_field :food %>
    </div>

    <div class = "calorie">
      <%= form.label :カロリー %>
      <%= form.text_field :calorie %>kcal
    </div>

    <div class = "eat_timing">
      <%= form.label :"何食？" %>
      <%= form.select :eat_timing ,[["朝ごはん","朝ごはん"],["昼ごはん","昼ごはん"],["晩ごはん","晩ごはん"]] %>
    </div>



    <div class = "submit">
      <%= form.submit %>
    </div>

  <% end %>
</div>